.fade-enter {
  opacity: 0.01;
  margin-top: -10px;
  transition: $anim-duration;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: $anim-duration;
  margin-top: 0;
}

.fade-leave {
  opacity: 1;
  transition: $anim-duration;
  
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: $anim-duration;
  
}

.notification-enter {
  opacity: 0.01;
  transform: translate(0, 50px) scale(0.5, 0.5);
  transition: $anim-duration;
}

.notification-enter.notification-enter-active {
  opacity: 1;
  transform: translate(0, 0) scale(1, 1);
  transition: $anim-duration;
  margin-top: 0;
}

.notification-leave {
  opacity: 1;
  transform: translate(0, 0);
  transition: $anim-duration;
  margin-top: 0;
}

.notification-leave.notification-leave-active {
  opacity: 0.01;
  transform: translate(0, 50px);
  transition: $anim-duration;
  margin-top: -10px;
}

.filter-enter {
  transition: $anim-duration;
  height: 0;
  padding-bottom: 0;

  .tm-filter {
    opacity: 0;
  }
}

.filter-enter.filter-enter-active {
  transition: $anim-duration;
  height: $filter-height + $gutter;
  padding-bottom: $gutter;
}

.filter-leave {
  transition: $anim-duration;
  height: $filter_height;
  padding-bottom: $gutter;
}

.filter-leave.filter-leave-active {
  transition: $anim-duration;
  height: 0;
  padding-bottom: 0;

  .tm-filter {
    opacity: 0;
    height: 0;
  }
}