body, html {
    height: 100%;
}

body {
    background: $base;
    font-family: $body-font;
    font-size: $body-font-size;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.tm-container {
    .mr {
        margin-right: $gutter;

        &2 {
            margin-right: $gutter * 2;
        }
    }

    .ml {
        margin-left: $gutter;

        &2 {
            margin-left: $gutter * 2;
        }
    }

    .mt {
        margin-top: $gutter;

        &2 {
            margin-top: $gutter * 2;
        }
    }

    .mb {
        margin-bottom: $gutter;

        &2 {
            margin-bottom: $gutter * 2;
        }
    }

    .flr {
        float: right;
    }

    .tac {
        text-align: center; 
    }
}

a {
    cursor: pointer;
    text-decoration: none;
}

input:focus {
    outline: none;
}

.tm__title {
    text-transform: uppercase;
}

.tm-input {
    display: block;
    width: 100%;
    height: $input_height;
    line-height: $input_height;
    border: 1px solid #000;
    padding-left: $gutter;
    padding-right: $gutter;

    &.tm-input--textarea {
        height: auto;
        line-height: 1.5;
        min-height: 150px;
        resize: none;
    }

    &-container {
        margin-bottom: $gutter;

        &--required {
            .tm-input__label {
                &:after {
                    content: '*';
                    color: $warning;
                    font-size: 20px;
                }
            }
        }

        &--error {
            .tm-input {
                border: 1px solid $warning;

                &__label {
                    color: $warning;
                    font-style: italic;
                    margin-top: -15px;
                }
            }
        }
    }

    &__label {
        width: $input_label_width;
        padding-right: $gutter;
        display: inline-block;
        vertical-align: middle;
        text-align: right;

        & + .tm-input-wrapper,
        & + .tm-input {
            display: inline-block;
            width: calc(100% - #{$input_label_width});
            vertical-align: middle;
        }
    }
}

.tm-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: $z--lg;
    background: $tr;
}

.tm-table {
    border-collapse: collapse;

    &-container {
        overflow: auto;
    }

    thead {
        text-transform: uppercase;
        text-align: center;

        td {
            border-top: none;
        }
    }

    td {
        border: 1px solid $base;
        padding: $gutter;
        min-width: 160px;

        @media (max-width: $lg) {
            min-width: 0;
        } 

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }
    }
}

.tm__error {
    color: $warning;
    display: block;
    font-weight: bold;
}

.tm-select {
    position: relative;
    cursor: pointer;

    &-content {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        z-index: $z--sm;
        background: #fff;
        min-width: 150px;
        box-shadow: 0px 0px 10px $tr;
    }

    &__item {
        display: block;
        padding: 10px;

        &:hover, &:active {
            background: lighten($base, 7%);
        }
    }

    &.shown .tm-select-content {
        display: block;
    }
}

.tm-container {
    // max-width: $container-width;
    // margin: 0 auto;
    // padding: 0 $gutter;
}

.ant-layout {
    &-header {
        background: transparent;
    }

    &-content,
    &-header {
        width: 100%;
        max-width: $container-width;
        margin: 0 auto;
        margin-bottom: $gutter;
        padding: 0 $gutter;
        height: auto;
    }
}

.ant-table-wrapper {
    width: 100%;
    margin-left: -1px;
    margin-right: -1px;
}

.ant-modal {
  .ant-form-item {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.tm-filter {
    position: relative;
    
    &-container {
        margin-bottom: $gutter;
    }
}

.tm-container .ant-form-item-label {
    text-align: right;
    padding-right: 10px;
}

.ant-input-number {
    width: 100%;
}

.ant-input {
    &.ant-input-disabled {
        background: none;
        border-color: $base;
    }
}

.ant {
    &-select-disabled .ant-select-selection,
    &-input-number-disabled {
        background: none;
        border-color: $base;
        color: #000;

        .ant-input-number-input {
            color: #000;
        }

        .ant-select-arrow {
            display: none;
        }
    }
}