.tm-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: $z--lg;
    transition: $anim-duration;
    background: #fff;
    width: 100%;
    max-width: $xs - ($gutter * 2);
    // min-height: 300px;
    padding: $gutter;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 5px $tr;

    &__title {
      text-align: center;
      margin-top: $gutter;
      margin-bottom: $gutter * 2;
    }

    @media (max-width: $xs) {
        max-width: calc(100% - #{$gutter} * 2)
    }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.ant-modal {
  .ant-form-item {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}