.tm-preloader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &--underlay {
        background-color: $tr;
    }

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 80px;
    }
}

.ant-spin {
    &.centered {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}