.tm-scrum {
    &-container {

    }

    &-status {
        text-transform: uppercase;
        text-align: center;
        background-color: $primary;
        color: #fff;
        padding: 5px 8px;
    }

    &-task {
        background-color: #fff;
        padding: 5px 8px;
    }
}