.tm-task {
    .tm-task-title {
        margin-bottom: 0;

        .ant-form-item-control-wrapper {
            width: 100%;
        }
    }

    &-date {
        display: block;
    }

    &-buttons {
        padding: $gutter 0;
    }

    .ant-form-item-label {
        text-align: center;
    }

    .ant-form-item-control-wrapper {
        width: $task_select_width;
        margin: 0 auto;
    }

    .tm-task-description {
        .ant-form-item-control-wrapper {
            width: $task_description_width;
        }

        textarea {
            resize: none;
        }
    }
}