.tm-task {
    &-header {
        padding-top: 0;
    }

    .ant-select-selection__rendered:after {
        display: none;
    }

    .tm-task-title {
        margin-bottom: 0;

        .ant-input {
            color: #000;
            font-size: 24px;
            height: 40px;
            line-height: 40px;

            &-disabled {
                padding-left: 0;
                border-color: #fff;
            }
        }

        .ant-form-item-control-wrapper {
            width: 100%;
        }
    }

    .ant-form-item {
        margin-bottom: $gutter;
        padding-bottom: 0;

        &-label {
            padding-bottom: 0;
        }
    }

    &-container {
        border-bottom: 1px solid darken($base, 5%);
        padding-top: $gutter;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: $gutter;
        background-color: #fff;
    }

    .ant-form-item-label {
        text-transform: uppercase;
    }

    .ant-select {
        text-align: center;

        &-selection-selected-value {
            float: none;
            padding-right: 0;
        }
    }

    .ant-input-number,
    .ant-input-number-input {
        text-align: center;
    }

    .ant-select-dropdown-menu {
        text-align: center;
    }

    &-date {
        display: block;
    }

    &-buttons {
        padding: $gutter 0;
    }

    .ant-form-item-label {
        text-align: center;
        padding-right: 0;
    }

    .ant-form-item-control-wrapper {
        width: $task_select_width;
        margin: 0 auto;
    }

    .tm-task-description {
        .ant-form-item-control-wrapper {
            width: $task_description_width;
        }

        textarea {
            resize: none;
            color: #000;
        }
    }
}

.tm-create {
    margin-top: 24px;
}