.tm-toolbar {
    background: #fff;
    margin-bottom: $gutter;

    &__item {
        padding: 10px 18px;
        display: inline-block;
        border-right: 1px solid $base;
        color: #000;

        &:hover, &.active {
            background: lighten($base, 7%);
        }

        &--em {
            background: $warning;
            color: #fff;

            &:hover {
                background-color: lighten($warning, 10%);
            }
        }
    }
}