$base: #E8E8E8;
$primary: #0D90DB;
$warning: #D41111;
$disabled: #707F88;
$tr: rgba(0,0,0,.1);
$tr--dark: rgba(0,0,0, .8);

$z--xl: 1001;
$z--lg: 1000;
$z--md: 100;
$z--sm: 10;

$anim-duration: .300s;
$gutter: 10px;
$container-width: 1200px;

$input_label_width: 200px;
$input_height: 40px;
$filter_height: 37px;
$filter_search_button_size: 90px;
$search_button_size: 50px;

$notification_width: 200px;

$body-font: 'sans';
$body-font-size: 15px;

$xll: 1920px;
$xl: 1400px;
$lg: 1200px;
$md: 1024px;
$sm: 768px;
$xs: 620px; 